.top-container {
  width: auto;
  height: auto;
}

.middle-container {
  width: auto;
  height: auto;
}

.bottom-container {
  width: auto;
  height: auto;
  background-color: #66BFBF ;
  margin: 0;
}
.clouds {
  position: absolute;
  background-image: url("../images/cloud.png");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
}
#top-cloud {
  top: 40px;
  left: 800px;
}
#bottom-cloud {
  top: 240px;
  left: 360px;
}
h1 {
  font-family: "Architects Daughter", cursive;
  color: #66BFBF;
}
p {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 2em;
  line-height: 1,5;
}
h2{
  color: #66BFBF;
  font-size: 35px;
}
h3{
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 2.5em;
  color: #11999E;

}
a {
  color: #11999E;
  margin: auto 6px;
  font-size: 20px;
  text-decoration: none;
}
body {
  background-color: #fcf7f4;
  
}
.skill-row {
  margin: 30px 25% 30px 25%;
  text-align: center;
}
.computer-img{
  border-radius: 100%;
  float: left;
}
.contact-me{
  border-top: solid 2px black;
  padding-top: 30px;
}