.clouds {
    position: absolute;
    background-image: url("../images/cloud.png");
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
}
#top-cloud{
    top: 20px;
    left: 800px;
}
#bottom-cloud{
    top: 180px;
    left: 460px;
}