.top-container{
  width: auto;
  height: auto;
}

.middle-container{
  width: auto;
  height: auto;
}

bottom-container{
  width: auto;
  height: auto;
}
.clouds {
  position: absolute;
  background-image: url("../images/cloud.png");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
}
#top-cloud {
  top: 20px;
  left: 800px;
}
#bottom-cloud {
  top: 180px;
  left: 460px;
}
h1 {
  font-family: "Architects Daughter", cursive;
}
p {
  font-family: "Indie Flower", cursive;
}
h2,
h3 {
  font-family: "Tenali Ramakrishna", sans-serif;
}
body{
  background-color: #fcf7f4;
}
